@model IEnumerable<Album>
@{ 
    ViewBag.Title = "專輯列表";
}

<div class="container">
    <div><a asp-action="Create" class="btn btn-primary">創建新專輯</a></div>
    <div class="row">
        @foreach (var alubm in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 py-3 px-lg-5">
                <div class="card" style="width: 100%;">
                    <img src="@alubm.CoverUrl" class="card-img-top" alt="@alubm.Title">
                    <div class="card-body">
                        <h5 class="card-title">@alubm.Title</h5>
                        <p class="card-text">
                            by @alubm.Artist @@ @alubm.ReleaseDate.ToString("yyyy-MM-dd")
                        </p>
                    
                        @*再form上設置刪除動作*@
                        <form asp-action="Delete" asp-route-id="@alubm.Id" method="post">
                            <a asp-action="Details" asp-route-id="@alubm.Id" class="btn btn-secondary">查看明细</a>
                            <a asp-action="Edit" asp-route-id="@alubm.Id" class="btn btn-primary">編輯</a>
                            <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('確認刪除？')">
                                删除
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
